.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  padding-top: 10vmin;
}

h1 {
  font-family: 'Righteous', cursive;
  margin:2px;
}
p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin:0px;
}
.purple {
 color: #00F0B5;
}

.purple-bg {
  color: #00F0B5;
 }

 .Content-card {
  height: 150px;
  width:120px;
  background-color: white;
  border-radius: 5px;
  margin:5px;
  display: flex;
  padding:15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .Content-card p{
  color: #464F51;
 }

 .Card-Img {
  height: auto;
  max-height: 80px;
  max-width: 80px;
 }

 .Card-row {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

.App-header {
  background-color: #464F51;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
